<header class="l-header">
  <ul class="top-menu disable-link-styles">
    <li>
      <a routerLink="home"
         routerLinkActive="menu-active">Home</a>
    </li>
    <li>
      <a routerLink="all-lessons"
         routerLinkActive="menu-active">All Lessons</a>
    </li>
    <li>
      <a routerLink="event-bus"
         routerLinkActive="menu-active">Event Bus</a>
    </li>
    <li *ngIf="!(isLoggedIn$ | async)">
      <a routerLink="login"
         routerLinkActive="menu-active">Login</a>
    </li>
    <li *ngIf="isLoggedIn$ | async">
      <a routerLink="logout" routerLinkActive="menu-active">logout</a>
    </li>
  </ul>
</header>
